.vs/
*.suo
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/BusinesssMVC/v17/.suo
Business.Data/obj/Debug/BusinessData.csproj.AssemblyReference.cache
Business.Models/obj/Debug/BusinessModels.csproj.AssemblyReference.cache
Business.Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Business.Services/obj/Debug/BusinessServices.csproj.AssemblyReference.cache
Business.Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BusinessMVC2/obj/Debug/BusinessMVC2.csproj.AssemblyReference.cache
BusinessMVC2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
