<div class="jumbotron">
    <div class="background-image"></div>
    <h1>Emissions Calculator</h1>
    <p class="lead">Calculate your carbon footprint and find ways to reduce your impact on the environment.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="bg-animation"></div>
            <div id="enviro" class="card mb-3">
                <div class="card-body">
                    <img class="card-img-top align-middle" src="~/Content/Images/environment.jpg" alt="Card image cap">
                    <h5 class="card-title">Calculate Your Carbon Footprint</h5>
                    <p class="card-text">Enter your energy usage and transportation information to calculate your carbon footprint.</p>
                    <a href="@Url.Action("Quote", "Client")" class="btn btn-primary">Calculate Now</a>
                </div>
            </div>
        </div>

        <div id="drum" class="col-md-6">
            <div id="webpage" class="card mb-3">
                <div class="card-body">
                    <img class="card-img-top align-middle" src="~/Content/Images/smt-drum.jpg" alt="Card image cap">
                    <h5 class="card-title">Find Ways to Reduce Your Emissions</h5>
                    <p class="card-text">Get personalized recommendations to reduce your carbon footprint based on your energy usage and transportation habits.</p>
                    <a href="https://smashmytrash.com/" class="btn btn-primary">Get Recommendations</a>

                </div>
            </div>
        </div>
    </div>
</div>

